/* Font Sizes */
$base-font-size: 1.8rem;
$logo-font-size: 6rem;
/*----> Headings*/
$h-prim-size:2.5rem;

/* Font Families */
$base-ff:'Maven Pro', 'Tahoma', sans-serif;
$secondary-ff:'Poppins', 'Tahoma', sans-serif;


/* Font Colors*/
$font-color-light:#ffffff;
$font-color-dark:#000000;

/* Background Colors*/
$color-primary-light: #767372;
$color-primary-medium: #272727;
$color-primary-dark: #000000;

$color-secondary-light: #BFFC57;
$color-secondary-dark: #87c917;

$color-tertiary-light: #61A1F3;
$color-tertiary-dark: #036BF0;

$bg-color: #ffffff;

$color-white: #ffffff;
$color-black: #000000;

$color-valid: #87c917;
$color-invalid: #FF3D00;

/*Shadow*/
$shadow-light: rgba(0,0,0, .15);
$shadow-medium: rgba(0,0,0, .3);
$shadow-strong: rgba(0,0,0, .5);

$color-grey-light-1:#f0f0f0;

/* Button colors */
$btn-color-primary: #ffffff;
$btn-color-secondary: #ff1515;
$btn-color-tertiary: #55c57a;
