/* ============================================ FOOTER ============================================ */
.footer {
    background-color: $color-black;
    padding: 1rem;
    
    &__copyrights {
        color: $font-color-light;
    }
    
    &__text {
        font-size: 1.2rem;
    }
    
    &__brand {
        font-weight: 700;
        color: $color-tertiary-light;
    }
}