/* ============================================ Navbar ============================================ */

.navbar {
    height: 8rem;
    transition: background 1s ease-in-out;
    margin:0;
    padding-top: 1rem;
    background-color: rgba($color-black,0);
    border: 0;
    backface-visibility: hidden;
    
    .container {
        width: 90vw;
    }
}

.transparent {
    background: rgba(0,0,0,0.8);
}

.nav a{
    line-height: 1.9rem !important;
    display: block;
    height: 100% !important;
    color: #ffffff !important;
    font-size: 2rem;
    margin-right:1rem;
    margin-top:.5rem;
    transition: .3s;
    
    &:hover, &:focus {
        transform: translateY(-5px);
        text-shadow: 1px 1px 2px $color-primary-light;
        color: $color-tertiary-light!important;
    }
}

.navbar-header {
    height: 6rem !important;
}

.active a {
    @extend a:hover;
    background-color: transparent !important;
}

.navbar-brand {
    margin-top:.5rem;
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    color: $font-color-light!important;
    
    &:hover, &:focus {
        color: $color-tertiary-light !important;
    }
}

.navbar-toggle, navbar-toggle.collapsed {
    color: $color-white;
    font-size: 3rem;
    border: none;
    padding: 1rem 1.5rem!important;
    padding-bottom: 2rem;
    position: relative;
    bottom:1.5rem;
    height: 6rem;
    z-index: 100;
    
    &:hover, &:focus {
        background-color: transparent !important;
        cursor: pointer;
    }
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    color: $color-tertiary-light;
    border-radius:0;
}

.navbar-collapse.in, .navbar-collapse.collapsing {
    background-color:rgba($color-black, 0.8);
    text-align: center;
    width: 100vw;
    position: absolute;
    left:0;
    top:0;
    margin: 0 auto;
    
    a {
        color: $color-tertiary-light !important;
        padding: 5rem;
        margin:0;
        font-size: 3rem;
        
        &:hover, &:focus {
            background-color: rgba(0,0,0,0.8) !important;
            color: $color-tertiary-light !important;
        }
    }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 100vh !important;
    height: auto;
}

.blocked {
    overflow:hidden;
}
