/* Mixins */

@mixin add-border($size: 1px, $color: $color-primary-medium, $position: 'all') {
    @if $position == 'all' {
        border: $size solid $color;
    } @else if $position == 'top' {
        border-top: $size solid $color;
    } @else if $position == 'bottom' {
        border-bottom: $size solid $color;
    } @else if $position == 'right' {
        border-right: $size solid $color;
    } @else if $position == 'left' {
        border-left: $size solid $color;
    } @else if $position == 'top-bottom' {
        border-top: $size solid $color;
        border-bottom: $size solid $color;
    } @else if $position == 'left-right' {
        border-left: $size solid $color;
        border-right: $size solid $color;
    }
}

@mixin add-background($color) {
    background:$color;
    @if $color == $color-primary-medium {
        color: $color-white;
    } @else if $color == $color-white {
        color: $color-primary-medium;
    }
}

@mixin fa-size($font-size) {
    @for $i from 2 through 6 {
        .fa-#{$i} {font-size:$font-size -(2*0.3rem)+($i*0.3rem) !important;}
    }
}
